.main-visual {
  position:relative
}

.main-visual > img {
  text-align: center;
  max-width: 100%;
}

.main-visual > img:nth-child(2) {
  position: absolute;
  top: 60px;
  right: 80px;
}

.header-items{
  position: absolute;
  top: 60px;
  right: 180px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Noto Serif JP";
  writing-mode: vertical-rl;
}

li:nth-child(2){
  margin-left: 25px;
  margin-right: 25px;
}

.header-btn {
  position: absolute;
  top: 318px;
  left: 40px;
}

.header-btn > a {
  writing-mode: vertical-rl;
  width: 68px;
  max-width: 100%;
  height: 252px;
  padding: 26px;
  background: rgba(255, 255, 255, 0.2);
  font: 16px;
  color: #FFF;
  outline: 2px solid #CCCCCC;
  outline-offset: -8px;
  text-align: center;
}