
body {
  background-color: #E6E2D7;
}

.main-visual {
  position:relative
}

.main-visual > img {
  text-align: center;
  object-fit: cover;
  height: 600px;
  width: 100%;

}

.main-visual > img:nth-child(2) {
  position: absolute;
  top: 60px;
  right: 80px;
  width: 40px;
  height: 91px;
}

.header-items{
  position: absolute;
  top: 60px;
  right: 180px;
  color: #ffffff;
  font-size: 16px;
  font-family: "Noto Serif JP";
  writing-mode: vertical-rl;
}

li:nth-child(2){
  margin-left: 25px;
  margin-right: 25px;
}

.header-btn {
  position: absolute;
  top: 318px;
  left: 40px;
}

.header-btn > a {
  width: 68px;
  max-width: 100%;
  height: 252px;
  padding: 26px;
  background: rgba(255, 255, 255, 0.2);
  font: 16px;
  color: #FFF;
  outline: 2px solid #CCCCCC;
  outline-offset: -8px;
  text-align: center;
  writing-mode: vertical-rl;
}

main{
  max-width: 985px;
  margin: 0 auto;
}


/*お知らせ*/

.category-news{
  position: relative;
  width: 100%;
  margin-top: 180px;
  writing-mode: vertical-rl;
}

.news-title > p {
  font-size: 14px;
  color: #000;
  font-family: "Noto Serif JP";

}

.news-title > h1 {
  font-size: 36px;
  color: #000;
  font-family: "Noto Serif JP";
  white-space: nowrap;
}

.news-list {
  list-style: none outside;
  border-left: 1px solid #000;
  margin-top: 80px;
  margin-right: 100px;
}

.news-list .news-item {
  margin: 0;
  font-size: 16px;
  color: #000;
}

.news-list .news-item>a {
  display: flex;
  text-decoration: none;
  color: #000;
  border-right: 1px solid #000;
  padding: 30px;
}

.news-list > p {
  writing-mode: vertical-rl;
}

.date {
  font-size: 12px;
  color: #000;
}



/*新しい価値の創造*/

.values {
    text-align: -webkit-right;
    position: relative;
    margin-top: 180px;
}

.values-title{
  writing-mode: vertical-rl;
  white-space: nowrap;
  font-family: "Noto Serif JP";
}

.values-title {
  font-size: 32px;
  color: #000;
}

.values-item {
  writing-mode: vertical-rl;
  white-space: nowrap;
  font-size: 14px;
  color: #000;
  font-family: "Noto Serif JP";
  /*margin-left: 13px;*/
  margin-top: 15px;
}

.values > img {
  position: absolute;
  top: 100px;
  right: 52px;
  width: 639px;
  height: 426px;
}

.values-text {
  position: absolute;
  top: 400px;
  left: 273px;
  display: flex;
  color: #fff;
  width: 358px;
  height: 146px;
  background: rgba(249, 233, 6, 0.6);
  justify-content: center;
  align-items: center;
}

/*科学と技術の調和*/

.science {
  text-align: -webkit-left;
  position: relative;
  margin-top: 280px;
  margin-bottom: 258px;
}

.science-title{
  font-size: 32px;
  color: #000;
  font-family: "Noto Serif JP";
  white-space: nowrap;
  writing-mode: vertical-rl;
}

.science-item{
  font-size: 14px;
  color: #000;
  font-family: "Noto Serif JP";
  white-space: nowrap;
  margin-left: 9px;
  margin-top: 15px;
  writing-mode: vertical-rl;
}

.science > img {
  position: absolute;
  top: 100px;
  left: 52px;
  width: 639px;
  height: 426px;
}

.science-text{
  position: absolute;
  top: 397px;
  left: 353px;
  display: flex;
  color: #fff;
  width: 358px;
  height: 146px;
  background: rgba(149, 42, 38, 0.6);
  justify-content: center;
  align-items: center;
}

/*map*/
.map iframe{
  width: 100%;
}

/*footer*/
footer{
  background-color: #000;
  width: 100%;
  height: 498px;
  font-family: Noto Serif JP;
}


.footer-menu{
  position: relative;
}

.logo{
  position: absolute;
  top: 68px;
  right: 80px;
  width: 40px;
  height: 91px;
}

.address{
  position: absolute;
  top: 68px;
  right: 180px;
  color: #FFF;
  height: 404px;
  writing-mode: vertical-rl;
}

.tel{
  position: absolute;
  top: 68px;
  right: 208px;
  color: #FFF;
  height: 404px;
  writing-mode: vertical-rl;
}

.footer-menu{
  position: relative;
}

.footer-items{
  position: absolute;
  top: 68px;
  right: 300px;
  font-size: 16px;
  font-family: "Noto Serif JP";
  color: #FFF;
  display: flex;
}

.footer-item{
  writing-mode: vertical-rl;
}

.copyright {
  text-align: center;
  color: #fff;
}